<!-- <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <span style="display:none">
            <script src="http://s11.cnzz.com/z_stat.php?id=1259874951&web_id=1259874951" language="JavaScript"></script>
        </span>
      </p>
    </div>
  </div>
</footer> -->
<script>
  window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
  ga('create','{{ .Site.Params.googleAnayticsId }}','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
<script src="/scripts/prism.js"></script>
<script src="/scripts/echo.js"></script>
