<section class="hero hero-echo">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <span class="nav-item title"  style="color:#fff;font-weight:bold;">{{.Site.Title}}</span>
        </div>
        <div class="nav-right nav-menu">
          <div class="nav-item">
            <!-- <p class="control has-icon">
              <input id="search-box" class="input" type="text" placeholder="Search">
              <i class="fa fa-search"></i>
            </p> -->
          </div>
          <span class="nav-item">
          </span>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </header>
  </div>
</section>
